@page
@model MushroomWebsite.Areas.Admin.Pages.Articles.IndexModel
@{
}

<div class="container">
    <div class="row">
        <a asp-page="create" class="btn btn-primary text-white;" style="background-color: #405018;">
                Dodaj nowy artykuł
        </a>
    </div>
    <br />

    @{
        foreach (var entry in @Model.Entries)
        {
            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(model => entry.Article.Title)</h5>
                        <p class="card-text" style="
                                              display:inline-block;
                                              white-space: nowrap;
                                              overflow: hidden;
                                              text-overflow: ellipsis;
                                              max-width: 100ch;">@Html.DisplayFor(model => entry.Article.Text)
                        </p>
                        <br/>
                        <b class="card-title">Autor: @Html.DisplayFor(model => entry.User.Name)</b>
                        <br/>
                        <a asp-page="View" asp-route-id="@entry.Id" class="btn btn-primary text-white" style="width: 150px; background-color: #405018;">Czytaj Dalej</a>
                    </div>
            </div>
            }
        }
</div>